HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

ui/node_modules/
ui/.angular/
ui/.vscode/

*.db

## JMDict, JMNEDict, Kanjidic2 etc
src/main/resources/*.xml
## Furigana files
src/main/resources/*Furigana.json

**/.DS_Store

*.old

jlpt.md
jmdict.puml

*.log