/* You can add global styles to this file, and also import other style files */

@import (css) url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Serif", sans-serif;
  background-color: rgba(255,121,177,0.35);
}

.bordered {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.padded {
  padding: 16px;
}
